---
---

@import "minimal-light";

.publication-list a,
.publications a,
article a,
.content a {
  color: inherit !important;
  text-decoration: none !important;
}

.publication-list a:hover,
.publications a:hover,
article a:hover,
.content a:hover {
  text-decoration: underline !important;
}

h3 + p a {
  color: inherit !important;
  text-decoration: none !important;
}

h3 + p a:hover {
  text-decoration: underline !important;
}